<!DOCTYPE html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	</head>
	<body>

		<div ng-app="myApp" ng-controller="myCtrl">
			<input type="number" ng-model="number1">
			<input type="number" ng-model="number2">
			result >> {{number1+number2}} 
		</div>
		<script type="text/javascript">
		/*
			var app = angular.module('myApp',[]);
			console.log(app);
			app.controller('myCtrl',function($scope){
				$scope.firstname = "Alex";
				$scope.lastname = "ferguson";
			});
		*/
		</script>
	</body>
</html>

